.picture {
    display: flex;
    justify-content: center;
    padding: 20px;
}
.user-picture {
    width: 150px;
    height: 150px;
    overflow: hidden;
    background-color: #3a3a3a;
    border-radius: 50%;
}

.user-picture img {
    width: 100%;
    object-fit: contain;
}

.user-information {
    padding: 20px;
}

.box {
    padding: 20px;
    border-radius: 30px;
    background-color: #e1eeff;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.name, .info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.user-information h1 {
    text-align: center;
}

.user-information span {
    font-weight: bold;
}

.back-button {
    padding: 10px 20px;
}

.back-button span {
    border-radius: 50px;
}

.back-button span:hover {
    cursor: pointer;
}